<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Edit Customer</h2>
            <form th:method="PATCH" th:action="@{/customers/{id}/(id=${customer.getId()})" th:object="${customer}">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" th:field="*{firstName}" id="firstName"/>
                        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name error</div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="secondName">Second name</label>
                        <input type="text" class="form-control" th:field="*{secondName}" id="secondName"/>
                        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{secondName}">Name error</div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="dob">Birthday</label>
                        <input type="date" step="any" class="form-control" th:field="*{dob}" id="dob"/>
                        <div style="color: red" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Birthday error</div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" th:field="*{email}" id="email"/>
                        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="phoneNumber">Phone number</label>
                        <input type="text" class="form-control" th:field="*{phoneNumber}" id="phoneNumber"/>
                        <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone error</div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" th:field="*{address}" id="address"/>
                        <div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</div>
                    </div>

                    <!--                    <div class="col-md-6 form-group">-->
                    <!--                        <strong>Gender</strong>-->
                    <!--                        <div class="form-check form-check-inline">-->
                    <!--                            <input class="form-check-input" type="radio" id="option1" value="Male">-->
                    <!--                            <label class="form-check-label" for="option1">Male</label>-->
                    <!--                        </div>-->
                    <!--                        <div class="form-check form-check-inline">-->
                    <!--                            <input class="form-check-input" type="radio"  id="option2" value="Female">-->
                    <!--                            <label class="form-check-label" for="option2">Female</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="col-md-6 form-group">-->
                    <!--                    </div>-->
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Update</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>