<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<p th:text="${customer.getId()}">VALUE</p>
<p th:text="${customer.getFirstName()}">VALUE</p>
<p th:text="${customer.getSecondName()}">VALUE</p>
<p th:text="${customer.getAge()}">VALUE</p>
<!--<p th:text="${person.getEmail()}">VALUE</p>-->


<a th:href="@{/customers/{id}/edit(id=${customer.getId()})}">Edit</a>


<form th:method="DELETE" th:action="@{/customers/{id}(id=${customer.getId()})}">
    <input type="submit" value="Delete"/>

</form>
</body>
</html>